.logo, .navigation, .header, .side, .body, .footer, .intro, .box1, .box2, .box3 {
    text-align: center;
    background-color: gray;
    color: white;
}
.navigation .logo {
    float: left;
}
.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10, .d11, .d12, .d13, .d14, .d15, .d16 {
    background-color: gray;
}

.logo {
    grid-area: logo;
}
.navigation {
    grid-area: navigation;
}
.header {
    grid-area: header;
}
.side {
    grid-area: side;
}
.body {
    grid-area: body;
}
.footer {
    grid-area: footer;
}
.intro {
    grid-area: intro;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}

.d1 {
    grid-area: d1;
}
.d2 {
    grid-area: d2;
}
.d3 {
    grid-area: d3;
}
.d4 {
    grid-area: d4;
}
.d5 {
    grid-area: d5;
}
.d6 {
    grid-area: d6;
}
.d7 {
    grid-area: d7;
}
.d8 {
    grid-area: d8;
}
.d9 {
    grid-area: d9;
}
.d10 {
    grid-area: d10;
}
.d11 {
    grid-area: d11;
}
.d12 {
    grid-area: d12;
}
.d13 {
    grid-area: d13;
}
.d14 {
    grid-area: d14;
}
.d15 {
    grid-area: d15;
}
.d16 {
    grid-area: d16;
}

.layout1, .layout2, .layout3, .layout4 {
    width: 400px;
    height: 500px;
    margin: 50px;
    padding: 10px;
    background-color: lightgray;
    display: grid;
    gap: 10px;
    float: left;
}

.layout1 {
    grid-template-areas: 
    "logo logo"
    "navigation navigation"
    "header header"
    "side body"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 3fr 10fr 1fr;
}
.layout2 {
    grid-template-areas: 
    "navigation navigation navigation"
    "header header header"
    "intro intro intro"
    "box1 box2 box3"
    "footer footer footer";
    grid-template-rows: 2fr 4fr 4fr 10fr 1fr;
}
.layout3 {
    grid-template-areas: 
    "logo logo"
    "side header"
    "side body"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 4fr 10fr 1fr;
}
.layout4 {
    grid-template-areas: 
    "navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation"
    "d1 d1 d1 d2 d2 d2 d3 d3 d3 d4 d4 d4"
    "d5 d5 d5 d6 d6 d6 d7 d7 d7 d8 d8 d8"
    "d9 d9 d9 d10 d10 d10 d11 d11 d11 d12 d12 d12"
    "d13 d13 d13 d14 d14 d14 d15 d15 d15 d16 d16 d16"
    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 5fr 1fr;

}