#bai4 {
    margin-top: 100px;
    margin-left: 150px;
    & .handle {
        width: 100px;
        padding: 10px;
    }
    & .showPic::after {
        content: 'Hien thi';
    }
    & .hidePic::after {
        content: 'An';
    }
    & .picture {
        width: 200px;
        height: 200px;
        background-image: url('../../../../Buoi2/nangcao/src/image/ao2.png');
        background-size: cover;
    }
}