:root {
    --change-animation-time: 1s
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout_home {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    & header {
        max-height: 30vh;
        height: 80px;

        background-color: brown;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        animation: change var(--change-animation-time) linear 0s infinite alternate-reverse both;
    }
    & nav {
        background-color: white;
        box-shadow: 0 5px 5px darkgrey;
        
        display: flex;
        flex-wrap: wrap;
        & a {
            flex: 1;
            line-height: 30px;
        
            text-align: center;
            text-decoration: none;
        
            color: darkred;
        
            display: block;
        }
    }
    & aside #preview {
        margin: 10px auto;
        max-width: 90vw;
        line-height: 30px;
    }
    & footer {
        width: 100%;
        line-height: 50px;
    
        text-align: center;
    
        background-color: white;
    
        position: absolute;
        bottom: 0;
    }
}

@keyframes change {
    from {
        color: white;
    }
    to {
        color: darkred;
    }
}

button.goback {
    width: 50px;
    height: 50px;
    
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    top: 0;
    left: 0;
}

#form {
    width: 300px;
    border-radius: 20px;
    line-height: 30px;
    
    background-color: white;

    overflow: hidden;
    & #title {
        text-align: center;
        text-transform: uppercase;

        color: white;
        background-color: darkred;
    }
    & .form_input {
        margin: 15px;
        display: flex;
        flex-direction: column;
        & input {
            padding: 5px;
            border: 2px inset gray;
            outline: none;
        }
        & button#form_submit {
            padding: 10px;
            border: none;
        
            font-weight: bold;
            text-transform: uppercase;
        
            color: white;
            background-color: brown;
        }
    }
}